// FONTS
$font-family-heading: "Permanent Marker", cursive;

// COLORS
$color-light-green: #9aecdb;
$color-green: #55e6c1;
$color-dark-green: #58b19f;

$color-light-purple: #d6a2e8;
$color-purple: #82589f;
$color-dark-purple: #3b3b98;

$color-light-blue: #25ccf7;
$color-blue: #1b9cfc;
$color-dark-blue: #182c61;

$color-light-pink: #fc427b;
$color-pink: #b33771;
$color-dark-pink: #6d214f;

$color-light-orange: #fea47f;
$color-orange: #f97f51;

$color-light-yellow: #f8efba;
$color-yellow: #eab543;

$color-white: #fff;
$color-grey: #cad3c8;
$color-dark: #2c3a47;
